<ion-view title="Highscor">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-arrow-swap" ng-click="showReorder = !showReorder"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list show-reorder="showReorder">
            <ion-item  style="background-color: {{item.config.color}}" ng-repeat="item in highScores" class="item-icon-left">
                <i class="icon {{item.config.icon}}"></i>
                {{item.name}}
                <span class="item-note">
                  {{item.highScore}}
                  {{item.currentScore}}
                </span>
                <!--settings for item-->
                <ion-option-button class="button-info" ng-click="edit(item)">
                    <i class="icon ion-gear-b"></i>
                </ion-option-button>
                <!--reset score-->
                <ion-option-button ng-if="item.incrementValue" class="button-info" ng-click="item.newScore(0)">
                    Reset
                </ion-option-button>
                <!--plus/minus sign for custom scores that increment by a set amount-->
                <ion-option-button ng-if="item.incrementValue" class="button-info" ng-click="item.increment('down')">
                    <i class="icon ion-minus-round"></i>
                </ion-option-button>
                <ion-option-button ng-if="item.incrementValue" class="button-info" ng-click="item.increment('up')">
                    <i class="icon ion-plus-round"></i>
                </ion-option-button>
                <!--input for custom number-->
                <ion-option-button ng-if="item.config.custom && !item.incrementValue" class="button-info">
                    <label class="item item-input">
                        <input type="number" placeholder="new score..." ng-model="item.newCurrent" ng-blur="item.newScore(item.newCurrent)">
                    </label>
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
