<ion-view title="New Score" class="new-score">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h4>Basics</h4>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="item.config.name" placeholder="my new amazing goal...">
            </label>
            <label class="item item-input">
                <span class="input-label">Type</span>
                <select ng-options="type for type in config.options.type" ng-model="item.config.type"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Icon: <i class="icon {{item.config.icon}}"></i></span>
                <button class="button" ng-click="modal.show()">Select New Icon</button>
            </label>
        </div>
    </ion-content>
</ion-view>
