<ion-view title="{{score.config.name}}" class="individual-score">
    <ion-content class="has-header">
        <div class="graph">
            <div class="hide-graph" ng-show="score.history.length < 4">
                We need to collect a few more datapoints before this graph is useful. Keep scoring!
            </div>
            <linechart data="score.history" options="options"></linechart>
        </div>
        <!--exposed increment options when relevant-->
        <div class="row" ng-if="score.config.incrementValue">
            <div class="col"><button ng-click="increment('down')" class="button icon button-full ion-minus-round"></button></div>
            <div class="col"><button ng-click="increment('up')" class="button icon button-full ion-plus-round"></button></div>
        </div>
        <!--new value input-->
        <div class="row update-score" ng-if="!score.apiInfo">
            <div class="col" ng-class="{'col-60' : newScore !== score.currentScore}">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Current Value</span>
                        <input type="number" ng-model="changes.newScore">
                    </label>
                </div>
            </div>
            <div class="col col-20" ng-show="changes.newScore !== score.currentScore">
                <button class="button button-block icon ion-checkmark-round" ng-click="saveNewScore()"></button>
            </div>
            <div class="col col-20" ng-show="changes.newScore !== score.currentScore">
                <button class="button button-block icon ion-close-round" ng-click="changes.newScore = score.currentScore"></button>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="configureSettings()">
                <span ng-show="!show.config">Configure {{score.config.name}}</span>
                <span ng-show="show.config">Save Configuration</span>
            </button>
        </div>
        <!--Configuration for items that have config options-->
        <div class="collapse" ng-show="show.config">
            <!--config options directive-->
            <score-config-options score="score"></score-config-options>
            <div class="padding">
                <button class="button button-block button-assertive" ng-click="deleteScore()">
                    Delete This Score
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
