$ionicons-font-path: "../lib/ionic/fonts" !default;
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
// colors
$highscore-primary: $positive;
$highscore-accent: #145fd7;
$highscore-text: white;
//variables
//override color styles
@import "components/input-forms";
@import "components/modal-options";
@import "new-score-view";
@import "scores-view";
@import "single-score-view";
//score icons
.icon {
  font-size: 22px;
}
//color boxes
.picked-color {
  padding: 3px 12px;
  border-radius: 4px;
}

//nav header buttons
.bar.bar-positive {
  .button {
    &:before {
      font-size: 16px;
    }
  }
}
//header
.options-header {
  text-align: center;
}