.new-score {
  .custom-score {
  }
  .card {
    margin-top: 0px;
    .keep-border {
      border: 1px;
    }
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  .button {
    .icon, .picked-color {
      margin-right: 10px;
    }
  }
}