.scores {
  //form input for list options
  .button {
    .item-input {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 0;
      input {
        width: 100px;
      }
    }
  }
  .list-right-editing {
    .item-content {
      padding: 16px 30px 16px 16px;
    }
  }
  .item-content {
    padding: 16px 16px 16px 16px;
  }
  //individual reorder icons
  .item-reorder .button.icon {
    color: $highscore-text;
  }
  .item-options .button {
    color: $highscore-text;
    border-color: $highscore-accent;
    background-color: $highscore-primary;
  }
  .item-icon-left {
    background-color: $highscore-primary;
    border-style: none;
  }
  //loading icon
  .ion-refresh {
    &.loading {
      -webkit-animation:spin 1s linear infinite;
      -moz-animation:spin 1s linear infinite;
      animation:spin 1s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  }
}