# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

ionic/node_modules/
ionic/www/lib/
ionic/www/css/
ionic/platforms/
ionic/plugins/
ionic/www/js/config.js

apiserver/node_modules/
apiserver/config.js
api/