<ion-view title="{{score.score.data.config.name}}" class="individual-score">
  <ion-content class="has-header">
    <div class="message {{score.message.type}} ng-hide" data-ng-show="score.message.text">{{score.message.text}}</div>
    <div class="graph">
      <div class="hide-graph" ng-show="score.score.data.history.length < 4">
        We need to collect a few more datapoints before this graph is useful. Keep scoring!
      </div>
      <linechart data="score.score.data.history" options="score.options"></linechart>
    </div>
    <!--exposed increment options when relevant-->
    <div class="row" ng-if="score.score.data.config.incrementValue">
      <div class="col">
        <button ng-click="score.increment('down')" class="button icon button-full ion-minus-round"></button>
      </div>
      <div class="col">
        <button ng-click="score.increment('up')" class="button icon button-full ion-plus-round"></button>
      </div>
    </div>
    <!--new value input-->
    <div class="row update-score" ng-if="!score.score.data.apiInfo">
      <div class="col" ng-class="{'col-60' : score.changes.newScore}">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">New Score</span>
            <input type="number" ng-model="score.changes.newScore">
          </label>
        </div>
      </div>
      <div class="col col-20" ng-show="score.changes.newScore">
        <button class="button button-block icon ion-checkmark-round" ng-click="score.saveNewScore()"></button>
      </div>
      <div class="col col-20" ng-show="score.changes.newScore">
        <button class="button button-block icon ion-close-round"
                ng-click="score.changes.newScore = score.score.data.currentScore"></button>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="score.configureSettings()">
        <span ng-show="!score.show.config">Configure {{score.score.data.config.name}}</span>
        <span ng-show="score.show.config">Save Configuration</span>
      </button>
    </div>
    <!--Configuration for items that have config options-->
    <div class="collapse" ng-show="score.show.config">
      <!--config options directive-->
      <score-config-options score-config="score.score.data.config"></score-config-options>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="score.deleteScore()">
          Delete This Score
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
