.individual-score {
  .graph {
    height: 300px;
    position: relative;
    height: 300px;
    width: 100%;
    .hide-graph, .chart {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }
    .hide-graph {
      z-index: 99999;
      opacity: .8;
      background: #fff;
      font-size: 20px;
      text-align: center;
      padding: 120px 30px;
    }
    .chart {
      //      margin: 0px 10px;
      g {
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    }
  }
  .update-score {
    .button-block {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}