.modal-options {
  margin: 0 10px;
  .bar .title + .buttons {
    right: 25px;
  }
  ion-content {
    padding: 30px 5px;
    ul {
      text-align: center;
      li {
        display: inline;
        float: left;
        width: 55px;
        height: 70px;
        //icon modal spacing/sizing
        .icon {
        }
        //color modal spacing/sizing
        .picked-color {
        }
      }
    }
  }
}