$ionicons-font-path: "assets/fonts" !default;
// Include all of Ionic
@import "../../../bower_components/ionic/scss/ionic";
//copy over ionic variables for reference
$font-size-base: $font-size-base;
$font-size-large: $font-size-large;
$font-size-small: $font-size-small;
$positive: $positive;
$energized: $energized;
$assertive: $assertive;
$light: $light;

//colors
$color-warning: $energized;
$color-error: $assertive;
$color-theme-primary: $positive;
$color-theme-primary-text: $light;

//heights
$standard-height: 44px;

//z-index tracker
$z-index-notification: 1;
@import "animations";
@import "forms";
@import "../../components/main/main";
@import "../../components/newScore/newScore";
@import "../../components/score/score";
@import "../../components/scoresList/scoresList";
@import "../directives/scoreConfigOptions/scoreConfigOptions";

//color boxes
.picked-color {
  padding: 3px 12px;
  border-radius: 4px;
}


