<ion-view title="Highscores" class="scores">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-arrow-swap"
            ng-click="scoresList.show.reorder = !scoresList.show.reorder"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list show-reorder="scoresList.show.reorder">
      <ion-item ng-repeat="item in scoresList.highScores" ui-sref="^.score({index: $index})" class="item-icon-left">
        <i class="icon {{item.data.config.icon}}" style="color: {{item.data.config.color}}"></i>
        {{item.data.config.name}}
        <span class="item-note">
          {{item.data.highScore}}
          {{item.data.currentScore}}
        </span>
        <!--reset score-->
        <ion-option-button ng-if="item.data.apiInfo" class="button-info" ng-click="scoresList.refreshScore($event, item)">
          <i class="icon ion-refresh" ng-class="{loading: item.data.loading}"></i>
        </ion-option-button>
        <!--plus/minus sign for custom scores that increment by a set amount-->
        <ion-option-button ng-if="item.data.config.incrementValue" class="button-info"
                           ng-click="scoresList.increment($event, item, 'down')">
          <i class="icon ion-minus-round"></i>
        </ion-option-button>
        <ion-option-button ng-if="item.data.config.incrementValue" class="button-info"
                           ng-click="scoresList.increment($event, item, 'up')">
          <i class="icon ion-plus-round"></i>
        </ion-option-button>
        <!--input for custom number-->
        <ion-option-button ng-if="!item.data.apiInfo && !item.data.config.incrementValue" class="button-info">
          <label class="item item-input">
            <input type="number" placeholder="new score..." ng-model="item.newCurrent"
                   ng-click="scoresList.preventClick($event)">
          </label>
        </ion-option-button>
        <ion-option-button ng-if="!item.data.apiInfo && !item.data.config.incrementValue" class="button-info"
                           ng-disabled="!item.newCurrent" ng-click="scoresList.newScore($event, item)">
          <i class="icon ion-checkmark-round"></i>
        </ion-option-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="reorderItem($fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
