.scores {
  //form input for list options
  .button {
    .item-input {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 0;
      input {
        width: 100px;
      }
    }
  }
  .list-right-editing {
    .item-content {
      padding: 16px 30px 16px 16px;
    }
  }
  .item-content {
    padding: 16px 16px 16px 16px;
  }
  //individual reorder icons
  .item-reorder .button.icon {
    color: $color-theme-primary-text;
  }
  .item-options .button {
    color: $color-theme-primary-text;
    border-color: $color-theme-primary;
    background-color: $color-theme-primary;
  }
  .item-icon-left {
    background-color: $color-theme-primary;
    border-style: none;
  }
  //loading icon
  .ion-refresh {
    &.loading {
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }
}