<div class="list card score-inputs">
    <label class="item item-input">
        <!--name-->
        <span class="input-label">Name:</span>
        <input type="text" ng-model="sco.scoreConfig.name" placeholder="new amazing goal......">
    </label>
    <!--icon-->
    <label class="item item-input">
        <span class="input-label">Icon:
            <i class="icon {{sco.scoreConfig.icon}}"></i>
            <span class="placeholder" ng-show="!sco.scoreConfig.icon">n/a</span>
        </span>
        <button class="button" ng-click="sco.iconModal.show()">Select Icon</button>
    </label>
    <!--color-->
    <label class="item item-input">
        <span class="input-label">Color:
            <span class="picked-color" style="background-color: {{sco.scoreConfig.color}}"></span>
        </span>
        <button class="button" ng-click="sco.colorModal.show()">Select Color</button>
    </label>
    <!--type-->
    <label class="item item-input">
        <span class="input-label">Type:</span>
        <select ng-options="type for type in sco.scoreOptions.numTypes" ng-model="sco.scoreConfig.type"></select>
    </label>
    <!--increment-->
    <label class="item item-input">
        <span class="input-label">Increment #:</span>
        <input type="number" ng-model="sco.scoreConfig.incrementValue" placeholder="doesn't increment">
    </label>
</div>